<%= render 'layouts/errors', obj: @article %>
<div class="devise-container">
<!--新規登録フォーム-->
<h1>新規投稿(管理者側)</h1>
<%= form_with model: @article,url: admin_articles_path,local: true do |f| %>
  <table>
    <div class="form-group">
        <p><%= f.label :外観写真 %>
        <%= f.attachment_field :image, class: "article_image" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :名前 %>
        <%= f.text_field :name, autofocus: true, class: "name" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :住所 %>
        <%= f.text_field :address_city, autocomplete: 'address_city', class: 'address_city' %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :公式サイト %>
        <%= f.text_field :site_url, autofocus: true, class: "site_url" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :料金説明 %>
        <%= f.text_area :tax, autofocus: true, class: "tax" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :営業時間 %>
        <%= f.text_field :opening_hours, autofocus: true, class: "opening_hours" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :定休日 %>
        <%= f.text_field :closed, autofocus: true, class: "closed" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :その他 %>
        <%= f.text_area :introduction, autofocus: true, placeholder: "説明文を記述", class: "introduction" %></p>
    </div>

    <tr class="actions">
      <%= f.submit "新規登録" ,class: 'btn btn-sm btn-success' %>
    </tr>
  </table>
<% end %>
</div>