<h1>新規投稿(管理者側)</h1>
  <% if @article.errors.any? %>
  <div id="error_explanation">
   <ul>
    <%= @article.errors.count %>errors prohibited this book from being saved:
     <% @article.errors.full_messages.each do |message| %>
      <li>
       <%= message %>
      </li>
     <% end %>
    <% end %>
   </ul>
  </div>
<%= form_with model: @article,url: admin_articles_path,local: true do |f| %>
  <table>
    <div class="form-group">
        <p><%= f.label :商品画像 %>
        <%= f.attachment_field :image, class: "form-control-file product_image" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :名前 %>
        <%= f.text_field :name, autofocus: true, class: "name" %></p>
    </div>
    
    <div class="form-group">
        <p><%= f.label :都道府県名 %>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, { prompt: '選択してください' }, class: 'prefecture_name' %></p>
    </div>
    
    <div class="form-group">
        <p><%= f.label :市町村名 %>
        <%= f.text_field :address_city, autocomplete: 'address_city', class: 'address_city' %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :番地 %>
        <%= f.text_field :address_street, autocomplete: 'address_street', class: 'address_street' %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :建物名 %>
        <%= f.text_field :address_building, autocomplete: 'address_building', class: 'address_building' %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :公式サイト %>
        <%= f.text_field :site_url, autofocus: true, class: "site_url" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :料金説明 %>
        <%= f.text_area :tax, autofocus: true, class: "tax" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :営業時間 %>
        <%= f.text_field :opening_hours, autofocus: true, class: "opening_hours" %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :その他 %>
        <%= f.text_area :introduction, autofocus: true, placeholder: "説明文を記述", class: "introduction" %></p>
    </div>

    <tr class="actions">
      <%= f.submit "新規登録" ,class: 'btn btn-sm btn-success' %>
    </tr>
  </table>
<% end %>