<div class="article-show">
  <div class="article-show-top">
    <h1 class="article-show-title"><%= @article.name %></h1>

    <!--レビュー総合評価-->
    <div id="star-rate-<%= @article.id %>">総合評価　</div>
      <script>
      $('#star-rate-<%= @article.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @article.comments.average(:rate).to_f.round(1) %>,
      });
      </script>

  </div>
  <div class="admin-article-show-image"><!---->
    <%= attachment_image_tag(@article, :image, :fill, 500, 300) %>
  </div>

<!--情報一覧-->
  <table class="article-show-information">
    <tr>
      <td>住所</td>
      <td>
        <%= @article.address_city %>
      </td>
    </tr>
    <tr>
      <td>公式サイト</td>
      <td><%= @article.site_url %></td>
    </tr>
    <tr>
      <td>料金説明</td>
      <td class="word-break"><%= @article.tax %></td>
    </tr>
    <tr>
      <td>営業時間</td>
      <td><%= @article.opening_hours %></td>
    </tr>
    <tr>
      <td>定休日</td>
      <td><%= @article.closed %></td>
    </tr>
    <tr>
      <td>その他</td>
      <td class="word-break"><%= @article.introduction %></td>
    </tr>
    <tr>
      <td>いいね数<%= @article.favorites.count %></td>
      <td>スタンプ数<%= @article.stamps.count %></td>
    </tr>
      <td><%= link_to '編集', edit_admin_article_path(@article) %></td>
      <td><%= link_to '削除', admin_article_path(@article), method: :delete, data: { confirm: '本当に消しますか？' } %></td>
  </table>

<!--googlemap表示　-->
<div id='map' data-no-turbolink></div>
<style>
#map {
  height: 300px;
  width: 400px;
}
</style>

<script>
let map;

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>},
    zoom: 12,
  });

  (function(){
    var contentString = "住所：<%= @article.address_city %>";

    var marker = new google.maps.Marker({
        position:{lat: <%= @article.latitude %>, lng: <%= @article.longitude %>},
        map: map,
        title: contentString
    });
  })();
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_Maps_API_Key"]%>&callback=initMap" async defer></script>

<!--コメント件数-->
  <div class="new-comment">
  <p>コメント件数：<%= @article.comments.count %></p>
  </div>

<!--コメント一覧-->
  <div class="comments">
    <% @article.comments.each do |comment| %>
    <!--コメント欄-->
    <div class="comment-box">
      <!--コメント欄上部-->
      <div class="comment-box-top">
      <%= attachment_image_tag(@user, :profile_image_id, :fill, 30, 30, fallback: "My Post (11).png", size:'30x30') %>
      <%= comment.user.name %>
      <%= comment.title %>
        <div id="star-rate-<%= comment.id %>"></div>
                <script>
                $('#star-rate-<%= comment.id %>').raty({
                  size: 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  half: true,
                  readOnly: true,
                  score: <%= comment.rate %>,
                });
                </script>
      </div>
      <!--コメント欄下部-->
      <div class="comment-box-bottom">
        <div><%= comment.body %></div>
        <div><%= comment.created_at.strftime('%Y/%m/%d') %></div>
      </div>
    </div>
    <% end %>
    <p class=return-btn><%= link_to '戻る', articles_path %></p>
  </div>
