
<h2><%= @article.name %></h2>
<%= attachment_image_tag(@article, :image, :fill, 300, 300) %>
<%= @article.prefecture_name %>
<%= @article.prefecture_code %>
<%= @article.address_city %>
<%= @article.address_street %>
<%= @article.address_building %>
<%= @article.site_url %>
<%= @article.tax %>
<%= @article.opening_hours %>
<%= @article.closed %>
<%= @article.introduction %>
<p>
  <%= link_to 'Edit', edit_admin_article_path(@article) %>
</p>
<p>
  <%= link_to 'Destroy', admin_article_path(@article), method: :delete, data: { confirm: '本当に消しますか？' } %>
</p>

<style>
#map {
  height: 500px;
  width: 500px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["Google_Maps_API_Key"]%>&callback=initMap" async defer></script>

<p>いいね数<%= @article.favorites.count %></p>
<p>スタンプ数<%= @article.stamps.count %></p>

<div class="comments">
<p>コメント件数：<%= @article.comments.count %></p>
  <% @article.comments.each do |comment| %>
    <%= comment.user.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.body %>
    <div class="comment-delete">
      <%= link_to "削除", article_comment_path(comment.article, comment), method: :delete %>
    </div>
  <% end %>
</div>
