<p><%= @blog.title %></p>
<%= attachment_image_tag(@blog, :image, :fill, 300, 300) %>
<p><%= @blog.body %></p>
<p><%= @blog.memo %></p>
<% if @user.id == current_user.id %>
<p>
  <%= link_to 'Edit', edit_blog_path(@blog) %>
</p>
<p>
  <%= link_to 'Destroy', blog_path(@blog), method: :delete, data: { confirm: '本当に消しますか？' } %>
</p>
<p>
  <%= link_to 'Back', blogs_path %>
</p>

<% end %>