<h1>一覧</h1>
<!--検索フォーム-->
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>

<p><%= link_to 'ランキングページへ', ranking_path,class:"fas fa-crown" %></p>

<%= render 'layouts/index', articles: @articles %>