<body class="mapping-body">
<main class="mapping-main">
<div class="map-main-title">
	<h1 class="map-main-text">地図で温泉を探す</h1>
	<p>全<%= Article.count %>件</p>
</div>
<div id="japan-map" class="clearfix">

<div id="hokkaido-touhoku" class="clearfix">
	<p class="area-title">北海道・東北</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "北海道") do %>
        	<div id="hokkaido">
        		<p>北海道</p>
          	</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "青森県") do %>
			<div id="aomori">
				<p>青森</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "秋田県") do %>
			<div id="akita">
				<p>秋田</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "岩手県") do %>
			<div id="iwate">
				<p>岩手</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "山形県") do %>
			<div id="yamagata">
				<p>山形</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "宮城県") do %>
			<div id="miyagi">
				<p>宮城</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "福島県") do %>
			<div id="fukushima">
				<p>福島</p>
			</div>
		<% end %>
	</div>
</div>

<div id="kantou">
	<p class="area-title">関東</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "群馬県") do %>
			<div id="gunma">
				<p>群馬</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "栃木県") do %>
			<div id="tochigi">
				<p>栃木</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "茨城県") do %>
			<div id="ibaraki">
				<p>茨城</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "埼玉県") do %>
			<div id="saitama">
				<p>埼玉</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "千葉県") do %>
			<div id="chiba">
				<p>千葉</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "東京都") do %>
			<div id="tokyo">
				<p>東京</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "神奈川県") do %>
			<div id="kanagawa">
				<p>神奈川</p>
			</div>
		<% end %>
	</div>
</div>

<div id="tyubu" class="clearfix">
	<p class="area-title">中部</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "新潟県") do %>
			<div id="nigata">
				<p>新潟</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "富山県") do %>
			<div id="toyama">
				<p>富山</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "石川県") do %>
			<div id="ishikawa">
				<p>石川</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "福井県") do %>
			<div id="fukui">
				<p>福井</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "長野県") do %>
			<div id="nagano">
				<p>長野</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "岐阜県") do %>
			<div id="gifu">
				<p>岐阜</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "山梨県") do %>
			<div id="yamanashi">
				<p>山梨</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "愛知県") do %>
			<div id="aichi">
				<p>愛知</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "静岡県") do %>
			<div id="shizuoka">
				<p>静岡県</p>
			</div>
		<% end %>
	</div>
</div>

<div id="kinki" class="clearfix">
	<p class="area-title">近畿</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "京都府") do %>
			<div id="kyoto">
				<p>京都</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "滋賀県") do %>
			<div id="shiga">
				<p>滋賀</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "大阪府") do %>
			<div id="osaka">
				<p>大阪</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "奈良県") do %>
			<div id="nara">
				<p>奈良</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "三重県") do %>
			<div id="mie">
				<p>三重</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "和歌山県") do %>
			<div id="wakayama">
				<p>和歌山</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "兵庫県") do %>
			<div id="hyougo">
				<p>兵庫</p>
			</div>
		<% end %>
	</div>
</div>

<div id="tyugoku" class="clearfix">
	<p class="area-title">中国</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "鳥取県") do %>
			<div id="tottori">
				<p>鳥取</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "岡山県") do %>
			<div id="okayama">
				<p>岡山</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "島根県") do %>
			<div id="shimane">
				<p>島根</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "広島県") do %>
			<div id="hiroshima">
				<p>広島</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "山口県") do %>
			<div id="yamaguchi">
				<p>山口</p>
			</div>
		<% end %>
	</div>
</div>

<div id="shikoku" class="clearfix">
	<p class="area-title">四国</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "香川県") do %>
			<div id="kagawa">
				<p>香川</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "愛媛県") do %>
			<div id="ehime">
				<p>愛媛</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "徳島県") do %>
			<div id="tokushima">
				<p>徳島</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "高知県") do %>
			<div id="kouchi">
				<p>高知</p>
			</div>
		<% end %>
	</div>
</div>

<div id="kyusyu" class="clearfix">
	<p class="area-title">九州・沖縄</p>
	<div class="area">
		<%= link_to map_prefecture_path(prefecture: "福岡県") do %>
			<div id="fukuoka">
				<p>福岡</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "佐賀県") do %>
			<div id="saga">
				<p>佐賀</p>
			</div>
		<% end %>
		<<%= link_to map_prefecture_path(prefecture: "長崎県") do %>
			<div id="nagasaki">
				<p>長崎</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "大分県") do %>
			<div id="oita">
				<p>大分</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "熊本県") do %>
			<div id="kumamoto">
				<p>熊本</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "宮崎県") do %>
			<div id="miyazaki">
				<p>宮崎</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "鹿児島県") do %>
			<div id="kagoshima">
				<p>鹿児島</p>
			</div>
		<% end %>
		<%= link_to map_prefecture_path(prefecture: "沖縄県") do %>
			<div id="okinawa">
				<p>沖縄</p>
			</div>
		<% end %>
	</div>
</div>

</div> <!-- japan-map -->

</main>
</body>