<h1>詳細</h1>
<h2><%= @article.name %></h2>
<%= attachment_image_tag(@article, :image, :fill, 300, 300) %>
<%= @article.prefecture_name %>
<%= @article.prefecture_code %>
<%= @article.address_city %>
<%= @article.address_street %>
<%= @article.address_building %>
<%= @article.site_url %>
<%= @article.tax %>
<%= @article.opening_hours %>
<%= @article.closed %>
<%= @article.introduction %>

<p class="stamp-btn"><%= render "public/stamps/stamp-btn", article: @article %></p>
<p class="favorite-btn"><%= render "public/favorites/favorite-btn", article: @article %></p>

<%= link_to 'Edit', edit_article_path(@article) %>


<p>コメント件数：<%= @article.comments.count %></p>

<div class="comments">
  <%= render 'public/comments/comment', article: @article,comment: @comment %>
</div>

<div class="new-comment">
 <h3>コメントフォーム</h3>
<%= form_with(model:[@article, @comment], re: true) do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_area :body, placeholder: "コメントをここに" %>

  <!-- 評価 -->
  <div class="form-group row" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <!-- 評価javascript -->
  <script>
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'comment[rate]',
    half: true,
  });
  </script>

  <%= f.attachment_field :image, class: "article_image" %></p>
  <%= f.submit "送信する" %>
<% end %>
</div>