<div class="user-show">
  <div class="user-profile">
    <div class="user-show-top">
      <!--プロフィール画像を表示-->
      <div class="user-show-top-left">
        <%= attachment_image_tag @user, :profile_image, fallback: "My Post (11).png", class: "user-profile-image" %>
      </div>
      <div class="user-show-top-right">
        <h1><%= @user.name %></h1>
        <!--スタンプ数に応じてランクづけされるように設定-->
        <h2>温泉Lv.<%= @user.stamped_articles.count %></h2>
        <% if @user.stamped_articles.count <= 10 %>
        <h2 class="user-rank-first">ランク：温泉ビギナー</h2>
        <% elsif @user.stamped_articles.count <= 30 %>
        <h2 class="user-rank-second">ランク：温泉好き</h2>
        <% elsif @user.stamped_articles.count <= 50 %>
        <h2 class="user-rank-third">ランク：温泉師匠</h2>
        <% elsif @user.stamped_articles.count <= 75 %>
        <h2 class="user-rank-fourth">ランク：温泉マスター</h2>
        <% elsif @user.stamped_articles.count >= 100 %>
        <h2 class="user-rank-fifth">温泉ゴッド</h2>
        <% end %>
        <!--カレンダーページにリンク-->
        <h3><%= link_to '温泉の記録', calender_user_path(@user) %></h3>
        <!--ログインユーザーのみ編集可能-->
        <% if @user.id == current_user.id %>
        <h3><%= link_to '行きたいリスト', favorites_user_path(@user) %></h3>
        <p><%= link_to 'プロフィール編集', edit_user_path(@user) %></p>
        <% end %>
      </div>
    </div>
    <!--自己紹介文-->
    <div class=user-show-introduction>
      <%= @user.introduction %>
    </div>
    <!--スタンプをつけた記事の写真を全て表示-->
    <div class="user-stamp-container">
      <% @user.stamped_articles.each do |article| %>
        <div class="user-stamp-box">
          <!--画像、リンク先は管理者側とエンドユーザ側で分ける-->
          <% if admin_signed_in? %>
            <%= link_to admin_article_path(article) do %>
              <%= attachment_image_tag article, :image, :fill, 100, 100, class: 'grid-article-show' %>
            <% end %>
          <% else %>
            <%= link_to article_path(article) do %>
              <%= attachment_image_tag article, :image, :fill, 100, 100, class: 'grid-article-show' %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>