<header id="header">
<div class="navbar-left">
  <a class="logo"><%= link_to (image_tag 'My Post (9).png'),root_path, class: "logo-img" %></a>
</div>
<nav class="navbar-right">
    <% if user_signed_in? %>
    <!--ユーザログイン後-->
    <ul class="nav-menu">
      <li><%= link_to 'マップ検索', mapping_path, class:"nav-list-item" %></li>
      <li><%= link_to 'マイページ', user_path(current_user), class:"nav-list-item" %></li>
      <li><%= link_to '新規投稿',  new_article_path, class:"nav-list-item" %></li>
      <li><%= link_to '一覧', articles_path, class:"nav-list-item" %></li>
      <li><%= link_to '記録', calender_user_path(current_user), class:"nav-list-item" %></li>
      <li><%= link_to 'タイムライン', timeline_path, class:"nav-list-item" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"nav-list-item" %></li>
    </ul>
    <% elsif admin_signed_in? %>
    <!--管理者ログイン後-->
    <ul class="nav-menu">
      <h2 class="nav-list-item">管理者ページ</h2>
      <li><%= link_to '一覧',  articles_path, class:"nav-list-item" %></li>
      <li><%= link_to 'マップ検索', mapping_path, class:"nav-list-item" %></li>
      <li><%= link_to 'タイムライン', timeline_path, class:"nav-list-item" %></li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class:"nav-list-item" %></li>
    </ul>
    <% else %>
    <!--未ログイン-->
    <ul class="nav-menu">
      <li><%= link_to ' About',  about_path,class:"nav-list-item" %></li>
      <li><%= link_to '一覧',  articles_path, class:"nav-list-item" %></li>
      <li><%= link_to 'マップ検索', mapping_path,class:"nav-list-item" %></li>
      <li><%= link_to 'タイムライン', timeline_path, class:"nav-list-item" %></li>
      <li><%= link_to ' 新規登録', new_user_registration_path,class:"nav-list-item header-sign-up" %></li>
      <li><%= link_to ' ログイン', new_user_session_path,class:"nav-list-item" %></li>
      <li><%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "nav-list-item" %></li>
    </ul>
    <% end %>
  </nav>
  <div class="toggle_btn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div id="mask"></div>

</header>