<header>
<nav class="navbar-left">
  <div class="logo"><%= link_to (image_tag 'My Post (10).png'),root_path, class: "logo-img" %></div>
</nav>
<nav class="navbar-right">
    <% if user_signed_in? %>
      <li><%= link_to 'マップ検索', mapping_path, class:"nav-list-item" %></li>
      <li><%= link_to 'マイページ', user_path(current_user), class:"nav-list-item" %></li>
      <li><%= link_to '一覧', articles_path, class:"nav-list-item" %></li>
      <li><%= link_to '記録', blogs_path, class:"nav-list-item" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"nav-list-item" %></li>
    <% elsif admin_signed_in? %>
      <h2>管理者</h2>
      <li><%= link_to '一覧',  articles_path, class:"nav-list-item" %></li>
      <li><%= link_to '新規投稿',  new_admin_article_path, class:"nav-list-item" %></li>
      <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class:"nav-list-item" %></li>
    <% else %>
      <li><%= link_to ' About',  about_path,class:"nav-list-item" %></li>
      <li><%= link_to '一覧',  articles_path, class:"nav-list-item" %></li>
      <li><%= link_to 'マップ検索', mapping_path,class:"nav-list-item" %></li>
      <li><%= link_to ' 新規登録', new_user_registration_path,class:"nav-list-item" %></li>
      <li><%= link_to ' ログイン', new_user_session_path,class:"nav-list-item" %></li>
    <% end %>
  </nav>
</header>