<!DOCTYPE html>
<html>
  <head>
    <title>ONSen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
　　<script src="https://kit.fontawesome.com/4a4fca51eb.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_page?(root_path) %>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <% else %>
  <body>
    <%= render 'layouts/header' %>
    <main><%= yield %></main>
    <%= render 'layouts/footer' %>
  </body>
  <% end %>
</html>
